# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars

# Docker
*.tar
*.tar.gz

# IDE
.idea/
.vscode/
*.swp
*.swo

# Pre-downloaded binaries (太大了)
docker/dev/downloads/go/
docker/dev/downloads/node/

# OS
.DS_Store
Thumbs.db
